var/
vendor/
config/jwt/*.pem
.env.local
.env.*.local
.env.local.php
node_modules/
public/bundles/
public/assets/
assets/vendor/
src/DataFixtures/
tests/
.git
.gitignore
.phpunit.result.cache
phpunit.xml
