<formn class="eventForm" >
    <div class="card">
        <div class="row mt-5">
            <div class="col-md-6">
                <label for="eventStartDate" class="form-label"></label>
                <input id="eventStartDate" class="form-control" type="datetime-local">
            </div>
            <div class="col-md-6">
                <label for="eventEndDate" class="form-label"></label>
                <input id="eventEndDate" class="form-control" type="datetime-local">
            </div>
        </div>
        
        <div class="mt-4">
            <label for="eventTitle" class="form-label"></label>
            <input id="eventTitle" class="form-control" type="text">
        </div>

        <div class="mt-4">
            <label for="eventDescription" class="form-label"></label>
            <textarea id="eventDescription" class="form-control" type="text">
        </div>
        
    </div>
</form>